### This jupyter notebook contains practical assignment for the topic "Web datasets"

In [9]:
import pandas as pd

# 1-topshiriq
1. Pandas kutubxonasidan foydalanib, quyida berilgan link ichidan barcha jadvallarni o‘qing va roʻyxat shaklida saqlang.
 * https://en.wikipedia.org/wiki/Fossil_fuel_exporters
2. Har bir jadvalning birinchi 1 qatorini ekranga chiqaring.

In [22]:
df = pd.read_html('./html.html')
len(df)

7

In [25]:
for i in range(len(df)) :
    print(df[i].head(1))

    0                                                  1
0 NaN  This article needs to be updated. Please help ...
   Rank Country/region                       Oil - exports Date of information
0     1   Saudi Arabia  6,658,642 bbl/d (1,058,639.5 m3/d)           2020 est.
   Rank Country/region  Natural gas - exports (cu m) Date of information
0     1         Russia                  199928345000           2020 est.
   Rank    Country  Coal - exports (thousand short tons)  Date of information
0     1  Indonesia                                451520                 2020
  vteLists of countries by energy rankings  \
0                              Fossil Fuel

          vteLists of countries by energy rankings.1
0  Petroleum All Production Consumption Exports I...
           0                                                  1
0  Petroleum  All Production Consumption Exports Imports Res...
         0                                   1
0  Uranium  All Production Generation Reserves

# 2-topshiriq
Yuqorida yaratilgan jadvallar roʻyxatidan eng uzunini `largest_data.csv` fayliga saqlang.

In [31]:
# Your code goes here
max(len(df[0]), len(df[1]), len(df[2]), len(df[3]), len(df[4]), len(df[5]), len(df[6]))

11

In [34]:
df[4].to_csv('largest_df.csv', sep = "|")

# 3-topshiriq
1. Quyidagi link orqali json maʼlumotni yuklab oling va uni climate_change_co2.json nomi bilan saqlang.
 * https://raw.githubusercontent.com/alishermutalov/praktikum-datasets/refs/heads/praktikum/json_data.json
2. Maʼlumotlar boshidan 5 ta qatorni ekranga chiqaring!

In [5]:
url = "https://raw.githubusercontent.com/alishermutalov/praktikum-datasets/refs/heads/praktikum/json_data.json"
#Your code goes here
df = pd.read_json("https://raw.githubusercontent.com/alishermutalov/praktikum-datasets/refs/heads/praktikum/json_data.json")
df.head(5)

,Year,Total,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,Per Capita
0,2010,9167,1702,3114,3842,450,59,1.33
1,2009,8740,1585,3056,3620,413,66,1.28
2,2008,8783,1631,3122,3571,388,71,1.30
3,2007,8566,1572,3081,3464,382,68,1.28
4,2006,8370,1525,3089,3339,356,61,1.27

# 4-topshiriq
1. Quyida berilgan linkga `get` soʻrovini yuborish orqali `json` maʼlumotlarini `posts.json` fayliga saqlang.
  * https://jsonplaceholder.typicode.com/posts/
2. Ushbu maʼlumotlarni dataframe koʻrinishida saqlang va tasodifiy 5 ta qatorni ekranga chiqaring.

In [11]:
url = "https://jsonplaceholder.typicode.com/posts/"
#Your code goes here
import requests

url
json_file = {
}

res = requests.get(url = url, json = json_file).json()
df = pd.DataFrame(res)

df.to_json("posts.json")

In [17]:
url
df = pd.read_json(url)
df.head(5)

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...