### This jupyter notebook contains contents of the lesson "Statistical analysis in Datasets"

**Author : Umidjon Sattorov. Machine Learning engineer**

____

Dataset information :

| Column          | English Description                                                           | Русское описание                                                                  | O'zbekcha tavsifi                                                         |
| --------------- | ----------------------------------------------------------------------------- | --------------------------------------------------------------------------------- | ------------------------------------------------------------------------- |
| **age**         | Age of the patient in days.                                                   | Возраст пациента в днях.                                                          | Bemor yoshi (kunlarda).                                                   |
| **sex**         | Gender: `1` = Male, `2` = Female.                                             | Пол: `1` = Мужчина, `2` = Женщина.                                                | Jinsi: `1` = Erkak, `2` = Ayol.                                           |
| **height**      | Height in centimeters.                                                        | Рост в сантиметрах.                                                               | Boʻy (sm da).                                                             |
| **weight**      | Weight in kilograms.                                                          | Вес в килограммах.                                                                | Vazn (kg da).                                                             |
| **ap\_hi**      | Systolic blood pressure.                                                      | Систолическое давление.                                                           | Yuqori qon bosimi (sistolik).                                             |
| **ap\_lo**      | Diastolic blood pressure.                                                     | Диастолическое давление.                                                          | Pastki qon bosimi (diastolik).                                            |
| **cholesterol** | Cholesterol level: `1` = Normal, `2` = Above normal, `3` = Well above normal. | Уровень холестерина: `1` = Нормальный, `2` = Повышенный, `3` = Сильно повышенный. | Xolesterin darajasi: `1` = Normal, `2` = Biroz yuqori, `3` = Juda yuqori. |
| **gluc**        | Glucose level: same coding as cholesterol.                                    | Уровень глюкозы: те же значения, что и для холестерина.                           | Glyukoza darajasi: `1`, `2`, `3` — xuddi xolesterin kabi.                 |
| **smoke**       | Smokes: `0` = No, `1` = Yes.                                                  | Курит: `0` = Нет, `1` = Да.                                                       | Chekadimi: `0` = Yoʻq, `1` = Ha.                                          |
| **alco**        | Alcohol intake: `0` = No, `1` = Yes.                                          | Употребляет алкоголь: `0` = Нет, `1` = Да.                                        | Spirtli ichimlik ichadimi: `0` = Yoʻq, `1` = Ha.                          |
| **active**      | Physically active: `0` = No, `1` = Yes.                                       | Физически активен: `0` = Нет, `1` = Да.                                           | Jismoniy faolmi: `0` = Yoʻq, `1` = Ha.                                    |
| **cardio**      | Has cardiovascular disease: `0` = No, `1` = Yes.                              | Есть сердечно-сосудистое заболевание: `0` = Нет, `1` = Да.                        | Yurak-qon tomir kasalligi mavjudmi: `0` = Yoʻq, `1` = Ha.                 |

___

In [8]:
import pandas as pd
import numpy as np

In [9]:
# Reading dataframe
df = pd.read_csv('./medical_examination.csv')
df.head()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [13]:
df.shape

(70000, 13)

____

### mean() - Average value of column

In [ ]:
# Calculating average value of Weight
df['weight'].mean()

np.float64(74.20569)

In [7]:
df[df['weight'] > df['weight'].mean()]

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
6,9,22113,1,157,93.0,130,80,3,1,0,0,1,0
7,12,22584,2,178,95.0,130,90,3,3,0,0,1,1
10,15,22530,1,169,80.0,120,80,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69989,99985,21013,1,157,83.0,120,70,1,1,0,0,1,1
69994,99992,21074,1,165,80.0,150,80,1,1,0,0,1,1
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1

In [8]:
mean_weight = df['weight'].mean()

In [9]:
mean_height = df['weight'].mean()
mean_ap_hi = df['ap_hi'].mean()

In [10]:
# Calculating all mean values
df.mean()

id             49972.419900
age            19468.865814
sex                1.349843
height           164.359229
weight            74.205690
ap_hi            128.817286
ap_lo             96.630414
cholesterol        1.366871
gluc               1.226457
smoke              0.088129
alco               0.053771
active             0.803729
cardio             0.499700
dtype: float64

In [15]:
age = df['age']/365

In [18]:
df["age"].mean()/365

np.float64(53.33935839530332)

In [19]:
age.mean()

np.float64(53.33935839530333)

**Task**

1. Calculate mean value of age in years

In [24]:
# Your code goes here
df["age"].mean()/365

np.float64(53.33935839530332)

2. Show the only rows of information where people have higher weight than average weight of the data.

In [22]:
# Your code goes here
df[df['weight'] > df['weight'].mean()]

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
6,9,22113,1,157,93.0,130,80,3,1,0,0,1,0
7,12,22584,2,178,95.0,130,90,3,3,0,0,1,1
10,15,22530,1,169,80.0,120,80,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69989,99985,21013,1,157,83.0,120,70,1,1,0,0,1,1
69994,99992,21074,1,165,80.0,150,80,1,1,0,0,1,1
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1

3. Show the rows of information where people have less height than the average height of the data.

In [21]:
# Your code goes here
df[df['height'] < df['height'].mean()]

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
5,8,21914,1,151,67.0,120,80,2,2,0,0,0,0
6,9,22113,1,157,93.0,130,80,3,1,0,0,1,0
8,13,17668,1,158,71.0,110,70,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69989,99985,21013,1,157,83.0,120,70,1,1,0,0,1,1
69991,99988,20609,1,159,72.0,130,90,2,2,0,0,1,0
69992,99990,18792,1,161,56.0,170,90,1,1,0,0,1,1
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1

HM : 4. Show the rows of information where people have higher high Arterial Pressure than average high arterial pressure and lower low arterial pressure than low arterial pressure.

In [ ]:
# Your code goes here

___

### sum()

Question : How would you find the number of smokers from the dataset.

In [12]:
# Calculating sum for given column
df['smoke'].sum()

np.int64(6169)

In [14]:
# More than one column
df[['smoke', 'alco']].sum()

smoke    6169
alco     3764
dtype: int64

In [15]:
# Full calculation
df.sum()

id             3.498069e+09
age            1.362821e+09
sex            9.448900e+04
height         1.150515e+07
weight         5.194398e+06
ap_hi          9.017210e+06
ap_lo          6.764129e+06
cholesterol    9.568100e+04
gluc           8.585200e+04
smoke          6.169000e+03
alco           3.764000e+03
active         5.626100e+04
cardio         3.497900e+04
dtype: float64

**Tasks**

1. Calculate how many people in the dataset drink alcohol.

2. Calculate how many people in the dataset have problem with their cardio.

3. Calculate the number of active people in the dataset.

In [32]:
# Your code goes here
df[['alco', 'cardio', 'active']].sum()

alco       3764
cardio    34979
active    56261
dtype: int64

In [ ]:
#alco
df['alco'].sum()

np.int64(3764)

In [ ]:
#cardio
df['cardio'].sum()

np.int64(34979)

In [ ]:
#active
df['active'].sum()

np.int64(56261)

___

### max(), min()

In [16]:
# Calculating highest artellery pressure of the humans in the dataset
df['ap_hi'].max()

np.int64(16020)

In [17]:
# Calculating min
df['ap_lo'].min()

np.int64(-70)

In [18]:
df['ap_hi'].argmax()

np.int64(40852)

In [19]:
df['ap_lo'].argmin()

np.int64(60106)

In [20]:
df.iloc[df['ap_hi'].argmax()]

id             58374.0
age            17438.0
sex                1.0
height           169.0
weight            70.0
ap_hi          16020.0
ap_lo             80.0
cholesterol        1.0
gluc               1.0
smoke              0.0
alco               0.0
active             0.0
cardio             1.0
Name: 40852, dtype: float64

In [24]:
# idxmax() and idxmin()
df.idxmax()

id             69999
age            57191
sex             1537
height          6486
weight           435
ap_hi          40852
ap_lo          43326
cholesterol        1
gluc               7
smoke             14
alco              14
active             0
cardio             1
dtype: int64

In [25]:
df.idxmin()

id                 0
age            22343
sex                1
height         22723
weight         57858
ap_hi          35040
ap_lo          60106
cholesterol        0
gluc               0
smoke              0
alco               0
active             2
cardio             0
dtype: int64

Task :

Explore the functions count(), median(), std(), cumsum() even with the help of chatgpt.

In [34]:
# Exploration
df.count()

id             70000
age            70000
sex            70000
height         70000
weight         70000
ap_hi          70000
ap_lo          70000
cholesterol    70000
gluc           70000
smoke          70000
alco           70000
active         70000
cardio         70000
dtype: int64

In [36]:
df['age'].median()/365

np.float64(53.98082191780822)

In [41]:
df['age'].std()/365

np.float64(6.759593608880551)

In [ ]:
df['age'].cumsum()

0             18393
1             38621
2             57478
3             75101
4             92575
            ...
69995    1362735969
69996    1362758570
69997    1362777636
69998    1362800067
69999    1362820607
Name: age, Length: 70000, dtype: int64

In [10]:
df.corr()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,1.000000,0.003457,0.003154,-0.003038,-0.001830,0.003356,-0.002529,0.006106,0.002467,-0.003699,0.001210,0.003755,0.003799
age,0.003457,1.000000,-0.022609,-0.081515,0.053684,0.020764,0.017647,0.154424,0.098703,-0.047633,-0.029723,-0.009927,0.238159
sex,0.003154,-0.022609,1.000000,0.498221,0.155115,0.005985,0.015195,-0.035833,-0.020698,0.337664,0.170682,0.005991,0.007953
height,-0.003038,-0.081515,0.498221,1.000000,0.290968,0.005488,0.006150,-0.050226,-0.018595,0.187989,0.094419,-0.006570,-0.010821
weight,-0.001830,0.053684,0.155115,0.290968,1.000000,0.030702,0.043710,0.141768,0.106857,0.067780,0.067113,-0.016867,0.181660
ap_hi,0.003356,0.020764,0.005985,0.005488,0.030702,1.000000,0.016086,0.023778,0.011841,-0.000922,0.001408,-0.000033,0.054475
ap_lo,-0.002529,0.017647,0.015195,0.006150,0.043710,0.016086,1.000000,0.024019,0.010806,0.005186,0.010601,0.004780,0.065719
cholesterol,0.006106,0.154424,-0.035833,-0.050226,0.141768,0.023778,0.024019,1.000000,0.451578,0.010354,0.035760,0.009911,0.221147
gluc,0.002467,0.098703,-0.020698,-0.018595,0.106857,0.011841,0.010806,0.451578,1.000000,-0.004756,0.011246,-0.006770,0.089307
smoke,-0.003699,-0.047633,0.337664,0.187989,0.067780,-0.000922,0.005186,0.010354,-0.004756,1.000000,0.340094,0.025858,-0.015486
alco,0.001210,-0.029723,0.170682,0.094419,0.067113,0.001408,0.010601,0.035760,0.011246,0.340094,1.000000,0.025476,-0.007330
active,0.003755,-0.009927,0.005991,-0.006570,-0.016867,-0.000033,0.004780,0.009911,-0.006770,0.025858,0.025476,1.000000,-0.035653
cardio,0.003799,0.238159,0.007953,-0.010821,0.181660,0.054475,0.065719,0.221147,0.089307,-0.015486,-0.007330,-0.035653,1.000000

___

### Quick statistical analysis

In [42]:
# Quick statistical analysis
df.describe()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349843,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.477253,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,3.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000