### This jupyter notebook contains practical tasks for l1 lesson "EDA - Data Cleaning"

**Author : Umidjon Sattorov. Machine Learning engineer**

In [2]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

2.3.1

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series consolidation(Series takrorlash)

1. Создать пустую серию pandas

In [3]:
# your code goes here
ser = pd.Series([])

In [4]:
ser

Series([], dtype: object)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

2. Данный список X python преобразует его в series Y pandas

In [5]:
# Your code goes here
X = [1, 2, 3, 4, 5, 6, 7]
Y = pd.Series([X])

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

3. Учитывая серию X pandas, назовите ее «My letters»

In [6]:
# Your code goes here
X = pd.Series(X, name = "My letters")

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

4. Для серии X pandas покажите ее значения

In [7]:
# Your code goes here
X

0    1
1    2
2    3
3    4
4    5
5    6
6    7
Name: My letters, dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

5. Назначить имена индексов для заданной серии X pandas

In [8]:
# Your code goes here
X.index = [1, 2, 3, 4, 5, 6, 7]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

6. Для серии X pandas покажите ее первый элемент

In [9]:
# Your code goes here
X.head(1)

1    1
Name: My letters, dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

7. Для серии X pandas покажите ее последний элемент

In [10]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

# Your code goes here
X.tail(1)

third    C
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

8. Для серии X pandas показать все средние элементы

In [11]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

# Your code goes here
X.iloc[2]

'C'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

9. Для серии X pandas покажите элементы в обратном положении

In [12]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

# Your code goes here
X.loc[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

10. Для серии X pandas покажите первый и последний элементы

In [13]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

# Your code goes here
first_last = X.head(1), X.tail(1) 
first_last

(first    A
 dtype: object,
 fifth    E
 dtype: object)

___

## EDA - Data Cleaning

## Описание датасета:
- `id`: идентификатор записи;
- `url`: URL записи о продаже;
- `region`: регион;
- `region_url`: URL региона;
- `price`: стоимость;
- `year`: год выпуска;
- `manufacturer`: производитель;
- `model`: модель;
- `condition`: состояние;
- `cylinders`: количество цилиндров;
- `fuel`: тип топлива;
- `odometer`: количество пройденных миль;
- `title_status`: статус;
- `transmission`: коробка передач;
- `VIN`: идентификационный номер;
- `drive`: тип привода;
- `size`: размер;
- `type`: кузов;
- `paint_color`: цвет;
- `image_url`: URL изображения;
- `description`: указанное описание;
- `county`: страна;
- `state`: штат;
- `lat`: широта;
- `long`: долгота;
- `posting_date`: дата размещения объявления о продаже;
- `price_category`: категория цены.

In [14]:
# Import necessary libraries
df = pd.read_csv("df_clean.csv")

### Задача 1. Загрузка датасета и ознакомление с количеством пропущенных значений

1. Загрузите датасет из `df_clean.csv` и выведите первые пять записей.

Topshiriq 1. Ma’lumotlar to‘plamini yuklash va yetishmayotgan qiymatlar sonini tahlil qilish
1. df_clean.csv faylidan ma’lumotlar to‘plamini yuklang va dastlabki beshta yozuvni ekranga chiqaring.

In [15]:
# Your code goes here
df.head()

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020.0,ram,2500 crew cab big horn,diesel,27442.0,clean,other,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,tn,35.060000,-85.250000,2021-04-17T12:30:50-0400,high
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016.0,ford,explorer 4wd 4dr xlt,NaN,60023.0,clean,automatic,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,nj,40.821805,-74.061962,2021-05-03T15:40:21-0400,medium
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017.0,volkswagen,golf r hatchback,gas,14048.0,clean,other,https://images.craigslist.org/00y0y_eeZjWeiSfb...,Carvana is the safer way to buy a car During t...,ca,33.779214,-84.411811,2021-04-28T03:52:20-0700,high
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013.0,toyota,rav4,gas,117291.0,clean,automatic,https://images.craigslist.org/00606_iGe5iXidib...,2013 Toyota RAV4 XLE 4dr SUV Offered by: R...,nc,35.715954,-78.655304,2021-04-17T10:08:57-0400,medium
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021.0,nissan,altima,gas,8000.0,clean,automatic,https://images.craigslist.org/00V0V_3pSOiPZ3Sd...,2021 Nissan Altima Sv with Only 8 K Miles Titl...,ny,40.654800,-73.609700,2021-05-03T18:32:06-0400,medium

2. Выведите количество полностью заполненных объектов и их процент из всей выборки.

2. Butunlay toʻldirilgan qatorlar sonini va ularning umumiy ma’lumotlar toʻplamidagi foizini hisoblang va ekranga chiqaring.

In [16]:
# Your code goes here
def print_useful_rows(df) :
    print(f"The number of useful features : {len(df.dropna())}")
    print(f"In percent : {round(len(df.dropna()) / len(df) * 100, 2)}")

print_useful_rows(df = df)

The number of useful features : 9507
In percent : 95.07

3. Сохраните в переменную и выведите процент пропущенных значений для каждого признака, отсортируйте признаки по убыванию процента пропущенных значений.

3. Har bir ustun (feature) uchun yetishmayotgan qiymatlar foizini hisoblang, natijani o‘zgaruvchiga saqlang va ekranga chiqaring. Ustunlarni kamayish tartibida (eng ko‘p yetishmayotgan qiymatlar bo‘yicha) saralang.

In [17]:
# Your code goes here
nan_values = (df.isna().sum() / len(df) * 100).sort_values(ascending = False)
nan_values

title_status      1.66
model             1.28
long              0.98
lat               0.98
fuel              0.63
transmission      0.45
year              0.36
image_url         0.02
posting_date      0.02
description       0.02
id                0.00
state             0.00
odometer          0.00
url               0.00
manufacturer      0.00
price             0.00
region_url        0.00
region            0.00
price_category    0.00
dtype: float64

4. Выведите список всех признаков, в которых имеются пропущенные значения. Воспользуйтесь результатом вывода предыдущего шага, чтобы отсортировать признаки, подходящие под условие.

4. Yetishmayotgan qiymatlar mavjud bo'lgan barcha ustunlarni ro'yxatini chiqaring. Oldingi qadam natijasidan foydalanib, ularni mos keladigan shart bo'yicha saralang.

In [18]:
# Your code goes here
nan_values.sort_values()

price_category    0.00
region_url        0.00
price             0.00
manufacturer      0.00
url               0.00
odometer          0.00
state             0.00
id                0.00
region            0.00
description       0.02
image_url         0.02
posting_date      0.02
year              0.36
transmission      0.45
fuel              0.63
lat               0.98
long              0.98
model             1.28
title_status      1.66
dtype: float64

### Задача 2. Обработка пропусков в дате размещения объявления о продаже
1. Выведите количество значений для даты размещения объявления о продаже, включая пропущенные значения. Обратите внимание на количество пропущенных значений.

Topshiriq 2. E'lon joylashtirish sanasidagi yetishmayotgan qiymatlarni ishlash
1. E'lon joylashtirish sanasi ustunidagi qiymatlar sonini (yetishmayotgan qiymatlar bilan birga) chiqaring. Yetishmayotgan qiymatlar soniga alohida e'tibor bering.

In [19]:
df['price_category'].value_counts()

price_category
high      3495
medium    3280
low       3225
Name: count, dtype: int64

In [20]:
# Your code goes here
df['posting_date'].value_counts(dropna = False)

posting_date
2021-04-19T10:00:54-0400    2
2021-04-13T09:11:02-0500    2
2021-04-11T11:11:05-0400    2
2021-04-08T10:06:02-0500    2
2021-04-29T21:11:29-0400    2
                           ..
2021-04-05T18:13:07-0400    1
2021-04-26T13:32:07-0400    1
2021-05-04T14:01:18-0400    1
2021-04-24T11:40:55-0700    1
2021-04-24T13:50:49-0400    1
Name: count, Length: 9958, dtype: int64

2. Выведите описательные статистики даты размещения объявления о продаже. Обратите внимание, что на месте самой популярной даты может стоять любое из значений, которое встречается два раза.

2. E'lon joylashtirish sanasi ustuni bo'yicha asosiy statistik ma'lumotlarni chiqaring. Diqqat qiling: eng ko'p takrorlangan sana sifatida har qanday 2 marta uchragan qiymat ko'rsatilishi mumkin.

In [21]:
# Your code goes here
df['posting_date'].describe()

count                         9998
unique                        9957
top       2021-04-19T10:00:54-0400
freq                             2
Name: posting_date, dtype: object

3. Выведите записи, в которых дата размещения объявления о продаже не заполнена. Посмотрите на данные и подумайте, какую стратегию обработки значений можно применить.

3. E'lon joylashtirish sanasi kiritilmagan (yetishmayotgan) barcha yozuvlarni ekranga chiqaring. Ma'lumotlarni tahlil qilib, qanday ishlov berish strategiyasini qo'llash mumkinligini aniqlang.

In [22]:
# Your code goes here
df[df['posting_date'].isna()]

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category
6728,7315259025,https://nh.craigslist.org/cto/d/manchester-201...,new hampshire,https://nh.craigslist.org,3750,NaN,other,NaN,NaN,95674.0,NaN,NaN,NaN,NaN,nh,NaN,NaN,NaN,low
9388,7208549803,https://bellingham.craigslist.org/ctd/d/bellin...,bellingham,https://bellingham.craigslist.org,11999,NaN,other,NaN,NaN,95674.0,NaN,NaN,NaN,NaN,wa,NaN,NaN,NaN,medium

4. Обработайте пропуски, удалив записи, в которых дата размещения объявления о продаже не заполнена, и сохраните обновлённый датафрейм.

4. E'lon joylashtirish sanasi yo'q bo'lgan barcha qatorlarni o'chiring va tozalangan ma'lumotlar to'plamini saqlang.

In [23]:
# Your code goes here
df.drop([6728, 9388], inplace = True)

5. Выведите для обновлённого датафрейма количество пропущенных значений в дате размещения объявления о продаже.

5. Tozalangan ma'lumotlar to'plamida e'lon joylashtirish sanasi ustunida qolgan yetishmayotgan qiymatlar sonini ko'rsating.

In [24]:
# Your code goes here
df['posting_date'].isna().sum()

np.int64(0)

### Задача 3. Обработка пропусков в коробке передач
1. Выведите количество значений для коробки передач, включая пропущенные значения. Обратите внимание на количество пропущенных значений.

Topshiriq 3. Uzatmalar qutisidagi yetishmayotgan qiymatlarni ishlash
1. Uzatmalar qutisi ustunidagi qiymatlar sonini (yetishmayotgan qiymatlar bilan birga) chiqaring. Yetishmayotgan qiymatlar soniga alohida e'tibor bering.

In [25]:
# Your code goes here
df['transmission'].value_counts()

transmission
automatic    7700
other        1624
manual        631
Name: count, dtype: int64

In [26]:
df['transmission'].value_counts(dropna = False)

transmission
automatic    7700
other        1624
manual        631
NaN            43
Name: count, dtype: int64

2. Выведите описательные статистики коробки передач.

2. Uzatmalar qutisi ustuni bo'yicha asosiy statistik ma'lumotlarni chiqaring.

In [27]:
# Your code goes here
df['transmission'].describe()

count          9955
unique            3
top       automatic
freq           7700
Name: transmission, dtype: object

3. Выведите записи, в которых коробка передач не заполнена. Посмотрите на данные и подумайте, какую стратегию обработки значений можно применить.

3. Uzatmalar qutisi kiritilmagan (yetishmayotgan) barcha yozuvlarni chiqaring va ularni ishlov berish strategiyasini tanlang.

In [28]:
# Your code goes here
df['transmission'].value_counts(dropna = False)

transmission
automatic    7700
other        1624
manual        631
NaN            43
Name: count, dtype: int64

4. Обработайте пропуски, заполнив незаполненные значения коробки передач значением `other`, и сохраните изменения. Обратите внимание, что мы заполняем пропуски не самым популярным значением в выборке.

4. Uzatmalar qutisi bo'sh bo'lgan qiymatlarni "other" deb belgilang va o'zgarishlarni saqlang.

In [29]:
# Your code goes here
df = df.fillna({'transmission' : 'other'})
df['transmission'].isna().sum()

np.int64(0)

5. Выведите для обновлённого датафрейма количество пропущенных значений для коробки передач.

5. "other" bilan to'ldirilgan yangi ma'lumotlar to'plamida uzatmalar qutisi ustunida qolgan yetishmayotgan qiymatlar sonini ko'rsating.

In [30]:
# Your code goes here
df['transmission'].isna().sum()

np.int64(0)

### Задача 4. Обработка пропусков в широте и долготе
1. Выведите количество значений для широты, включая пропущенные значения. Обратите внимание на количество пропущенных значений.

1. Kenglik (latitude) ustunidagi qiymatlar sonini (yetishmayotgan qiymatlar bilan birga) chiqaring. Yetishmayotgan qiymatlar soniga alohida e'tibor bering.

In [31]:
# Your code goes here
df['lat'].value_counts(dropna = False)

lat
NaN          96
43.182400    88
33.779214    79
40.468785    73
33.786500    54
             ..
33.640251     1
39.942263     1
34.299800     1
44.472801     1
42.123900     1
Name: count, Length: 5050, dtype: int64

2. Выведите описательные статистики широты в выборке.

2. Kenglik ustuni boʻyicha asosiy statistik koʻrsatkichlarni chiqaring:

In [32]:
# Your code goes here
df['lat'].describe()

count    9902.000000
mean       38.594142
std         5.844895
min       -67.144243
25%        34.830368
50%        39.298522
75%        42.428070
max        64.947500
Name: lat, dtype: float64

3. Выведите записи, в которых широта не заполнена. Посмотрите внимательно на данные и обратите внимание, что если не заполнена широта, то не заполнена и долгота.

3. Kenglik qiymati kiritilmagan barcha yozuvlarni chiqaring. Diqqat qiling: agar kenglik kiritilmagan bo'lsa, uzunlik (longitude) ham kiritilmagan bo'ladi.

In [33]:
# Your code goes here
df[df['lat'].isna()]

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category
118,7312692841,https://tricities.craigslist.org/ctd/d/bmw-ser...,tri-cities,https://tricities.craigslist.org,17998,2012.0,bmw,5 series,gas,62665.0,clean,automatic,https://images.craigslist.org/00909_57Xyuj8AJH...,2012 BMW 5 Series 535i M Sport Heat & Cool Sea...,tn,NaN,NaN,2021-04-26T04:28:35-0400,medium
126,7315526339,https://newjersey.craigslist.org/ctd/d/look-wh...,north jersey,https://newjersey.craigslist.org,22995,2014.0,bmw,7 series,gas,81085.0,clean,automatic,https://images.craigslist.org/00k0k_38TNTakyUf...,2014 BMW 7 Series 4dr Sdn 750Li xDrive AWD Aut...,nj,NaN,NaN,2021-05-01T17:49:09-0400,high
502,7308641593,https://winstonsalem.craigslist.org/ctd/d/ford...,winston-salem,https://winstonsalem.craigslist.org,20998,2016.0,ford,transit cargo,gas,123825.0,clean,automatic,https://images.craigslist.org/00101_gwJT4WBNRo...,2016 Ford Transit Cargo Vans Work Van High Roo...,nc,NaN,NaN,2021-04-18T04:43:46-0400,medium
567,7309282242,https://onslow.craigslist.org/ctd/d/mercedes-b...,jacksonville,https://onslow.craigslist.org,10810,2014.0,mercedes-benz,c-class,gas,124476.0,clean,automatic,https://images.craigslist.org/01414_6jNHxQwrKx...,2014 Mercedes Benz C Class C 250 Sport Coupe C...,nc,NaN,NaN,2021-04-19T12:06:28-0400,medium
692,7314847134,https://atlanta.craigslist.org/atl/ctd/d/2008-...,atlanta,https://atlanta.craigslist.org,17900,2008.0,toyota,tundra,gas,96000.0,clean,automatic,https://images.craigslist.org/01313_6u7l4KgvV4...,Description: 2008 Toyota Tundra 5...,ga,NaN,NaN,2021-04-30T12:09:49-0400,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9154,7312710592,https://athensga.craigslist.org/ctd/d/bmw-x5-a...,athens,https://athensga.craigslist.org,14975,2013.0,bmw,x5,gas,97195.0,clean,automatic,https://images.craigslist.org/00i0i_kU6D0X9br2...,2013 BMW X5 xDrive35i Sport Activity Navigatio...,ga,NaN,NaN,2021-04-26T07:31:40-0400,medium
9408,7311736404,https://raleigh.craigslist.org/ctd/d/lexus-nx-...,raleigh / durham / CH,https://raleigh.craigslist.org,28998,2018.0,lexus,nx 300,gas,19863.0,clean,automatic,https://images.craigslist.org/00Q0Q_j7S3aRy6Sw...,2018 Lexus NX 300 Navigation Sunroof Bluetooth...,nc,NaN,NaN,2021-04-24T00:54:33-0400,high
9650,7315596665,https://newjersey.craigslist.org/ctd/d/wow-201...,north jersey,https://newjersey.craigslist.org,16495,2013.0,jeep,grand cherokee,other,90878.0,clean,automatic,https://images.craigslist.org/00v0v_awwo3NjD7Q...,2013 Jeep Grand Cherokee 4WD 4dr Laredo Automa...,nj,NaN,NaN,2021-05-01T20:53:57-0400,medium
9668,7308677951,https://myrtlebeach.craigslist.org/ctd/d/ford-...,myrtle beach,https://myrtlebeach.craigslist.org,33647,2015.0,ford,f-250 super duty,diesel,153524.0,clean,automatic,https://images.craigslist.org/00f0f_1c0aGXmmCL...,2015 Ford F250 4x4 Truck Diesel Pickup Trucks ...,sc,NaN,NaN,2021-04-18T08:43:25-0400,high
9915,7312622931,https://cincinnati.craigslist.org/cto/d/2005-d...,cincinnati,https://cincinnati.craigslist.org,7999,2005.0,ford,excursion 2005,diesel,210000.0,clean,automatic,https://images.craigslist.org/00E0E_i9lrp2qCVK...,Largest sport utility vehicle ever made in the...,oh,NaN,NaN,2021-04-25T21:12:31-0400,low

4. Необходимо убедиться, что долгота не заполнена только тогда, когда не заполнена широта. Выведите количество значений для долготы, включая пропущенные значения.

4. Uzunlik ustunidagi qiymatlarni tekshiring va faqat kenglik kiritilmagan hollarda uzunlik ham kiritilmaganligiga ishonch hosil qiling.

In [34]:
# Your code goes here
df[df['lat'].isna()]

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category
118,7312692841,https://tricities.craigslist.org/ctd/d/bmw-ser...,tri-cities,https://tricities.craigslist.org,17998,2012.0,bmw,5 series,gas,62665.0,clean,automatic,https://images.craigslist.org/00909_57Xyuj8AJH...,2012 BMW 5 Series 535i M Sport Heat & Cool Sea...,tn,NaN,NaN,2021-04-26T04:28:35-0400,medium
126,7315526339,https://newjersey.craigslist.org/ctd/d/look-wh...,north jersey,https://newjersey.craigslist.org,22995,2014.0,bmw,7 series,gas,81085.0,clean,automatic,https://images.craigslist.org/00k0k_38TNTakyUf...,2014 BMW 7 Series 4dr Sdn 750Li xDrive AWD Aut...,nj,NaN,NaN,2021-05-01T17:49:09-0400,high
502,7308641593,https://winstonsalem.craigslist.org/ctd/d/ford...,winston-salem,https://winstonsalem.craigslist.org,20998,2016.0,ford,transit cargo,gas,123825.0,clean,automatic,https://images.craigslist.org/00101_gwJT4WBNRo...,2016 Ford Transit Cargo Vans Work Van High Roo...,nc,NaN,NaN,2021-04-18T04:43:46-0400,medium
567,7309282242,https://onslow.craigslist.org/ctd/d/mercedes-b...,jacksonville,https://onslow.craigslist.org,10810,2014.0,mercedes-benz,c-class,gas,124476.0,clean,automatic,https://images.craigslist.org/01414_6jNHxQwrKx...,2014 Mercedes Benz C Class C 250 Sport Coupe C...,nc,NaN,NaN,2021-04-19T12:06:28-0400,medium
692,7314847134,https://atlanta.craigslist.org/atl/ctd/d/2008-...,atlanta,https://atlanta.craigslist.org,17900,2008.0,toyota,tundra,gas,96000.0,clean,automatic,https://images.craigslist.org/01313_6u7l4KgvV4...,Description: 2008 Toyota Tundra 5...,ga,NaN,NaN,2021-04-30T12:09:49-0400,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9154,7312710592,https://athensga.craigslist.org/ctd/d/bmw-x5-a...,athens,https://athensga.craigslist.org,14975,2013.0,bmw,x5,gas,97195.0,clean,automatic,https://images.craigslist.org/00i0i_kU6D0X9br2...,2013 BMW X5 xDrive35i Sport Activity Navigatio...,ga,NaN,NaN,2021-04-26T07:31:40-0400,medium
9408,7311736404,https://raleigh.craigslist.org/ctd/d/lexus-nx-...,raleigh / durham / CH,https://raleigh.craigslist.org,28998,2018.0,lexus,nx 300,gas,19863.0,clean,automatic,https://images.craigslist.org/00Q0Q_j7S3aRy6Sw...,2018 Lexus NX 300 Navigation Sunroof Bluetooth...,nc,NaN,NaN,2021-04-24T00:54:33-0400,high
9650,7315596665,https://newjersey.craigslist.org/ctd/d/wow-201...,north jersey,https://newjersey.craigslist.org,16495,2013.0,jeep,grand cherokee,other,90878.0,clean,automatic,https://images.craigslist.org/00v0v_awwo3NjD7Q...,2013 Jeep Grand Cherokee 4WD 4dr Laredo Automa...,nj,NaN,NaN,2021-05-01T20:53:57-0400,medium
9668,7308677951,https://myrtlebeach.craigslist.org/ctd/d/ford-...,myrtle beach,https://myrtlebeach.craigslist.org,33647,2015.0,ford,f-250 super duty,diesel,153524.0,clean,automatic,https://images.craigslist.org/00f0f_1c0aGXmmCL...,2015 Ford F250 4x4 Truck Diesel Pickup Trucks ...,sc,NaN,NaN,2021-04-18T08:43:25-0400,high
9915,7312622931,https://cincinnati.craigslist.org/cto/d/2005-d...,cincinnati,https://cincinnati.craigslist.org,7999,2005.0,ford,excursion 2005,diesel,210000.0,clean,automatic,https://images.craigslist.org/00E0E_i9lrp2qCVK...,Largest sport utility vehicle ever made in the...,oh,NaN,NaN,2021-04-25T21:12:31-0400,low

5. Выведите количество значений, в которых не заполнена или широта, или долгота.

5. Kenglik (latitude) yoki uzunlik (longitude) kiritilmagan barcha yozuvlarning umumiy sonini chiqaring:

In [35]:
# Your code goes here
df['lat'].isna().sum() + df['long'].isna().sum()

np.int64(192)

6. Обработайте пропуски, удалив записи, в которых широта или долгота не заполнены, и сохраните обновлённый датафрейм, а также выведите первые пять записей.

*Подсказка*: обратите внимание на оператор ~ (тильда). Это операция not, которая часто применяется для инвертирования логических значений. Советуем заглянуть в [документацию](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html), чтобы получить представление о его работе на примерах использования.

6. Kenglik yoki uzunlik kiritilmagan barcha yozuvlarni o'chiring va yangilangan ma'lumotlar to'plamini saqlang:

In [36]:
# Your code goes here
df.dropna(subset = ['long', 'lat'],inplace = True)

7. Ещё раз выведите количество полностью заполненных объектов и их процент из всей выборки. Оставшиеся пропуски вы заполните позднее.

7. To'liq to'ldirilgan qatorlar sonini va foizini chiqaring (qolgan yetishmayotgan qiymatlarni keyinroq to'ldiramiz(:

In [37]:
# Your code goes here
df.isna().sum()

id                  0
url                 0
region              0
region_url          0
price               0
year               34
manufacturer        0
model             126
fuel               61
odometer            0
title_status      164
transmission        0
image_url           0
description         0
state               0
lat                 0
long                0
posting_date        0
price_category      0
dtype: int64

8. Сохраните получившийся датафрейм в файл `df_clean_upd.csv` для дальнейшего использования, индекс не сохраняйте.

8. Yakuniy tozalangan ma'lumotlar to'plamini `df_clean_upd.csv` fayliga saqlang (indekssiz):

In [38]:
# Your code goes here
df.to_csv('./df_clean_upd.csv', index = False)