### This jupyter notebook contains practical tasks for l1 lesson "EDA - Data Cleaning"

**Author : Umidjon Sattorov. Machine Learning engineer**

In [37]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

2.3.1

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series consolidation(Series takrorlash)

1. Создать пустую серию pandas

In [38]:
# your code goes here
ser = pd.Series([])

In [39]:
ser

Series([], dtype: object)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

2. Данный список X python преобразует его в series Y pandas

In [40]:
# Your code goes here
X = [1, 2, 3, 4, 5, 6, 7]
Y = pd.Series([X])

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

3. Учитывая серию X pandas, назовите ее «My letters»

In [41]:
# Your code goes here
X = pd.Series(X, name = "My letters")

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

4. Для серии X pandas покажите ее значения

In [42]:
# Your code goes here
X

0    1
1    2
2    3
3    4
4    5
5    6
6    7
Name: My letters, dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

5. Назначить имена индексов для заданной серии X pandas

In [47]:
# Your code goes here
X.index = [1, 2, 3, 4, 5, 6, 7]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

6. Для серии X pandas покажите ее первый элемент

In [51]:
# Your code goes here
X.head(1)

1    1
Name: My letters, dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

7. Для серии X pandas покажите ее последний элемент

In [58]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

# Your code goes here
X.tail(1)

third    C
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

8. Для серии X pandas показать все средние элементы

In [88]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

# Your code goes here
X.iloc[2]

'C'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

9. Для серии X pandas покажите элементы в обратном положении

In [89]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

# Your code goes here
X.loc[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

10. Для серии X pandas покажите первый и последний элементы

In [91]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

# Your code goes here
first_last = X.head(1), X.tail(1) 
first_last

(first    A
 dtype: object,
 fifth    E
 dtype: object)

___

## EDA - Data Cleaning

## Описание датасета:
- `id`: идентификатор записи;
- `url`: URL записи о продаже;
- `region`: регион;
- `region_url`: URL региона;
- `price`: стоимость;
- `year`: год выпуска;
- `manufacturer`: производитель;
- `model`: модель;
- `condition`: состояние;
- `cylinders`: количество цилиндров;
- `fuel`: тип топлива;
- `odometer`: количество пройденных миль;
- `title_status`: статус;
- `transmission`: коробка передач;
- `VIN`: идентификационный номер;
- `drive`: тип привода;
- `size`: размер;
- `type`: кузов;
- `paint_color`: цвет;
- `image_url`: URL изображения;
- `description`: указанное описание;
- `county`: страна;
- `state`: штат;
- `lat`: широта;
- `long`: долгота;
- `posting_date`: дата размещения объявления о продаже;
- `price_category`: категория цены.

In [94]:
# Import necessary libraries
df = pd.read_csv("df_clean.csv")

### Задача 1. Загрузка датасета и ознакомление с количеством пропущенных значений

1. Загрузите датасет из `df_clean.csv` и выведите первые пять записей.

Topshiriq 1. Ma’lumotlar to‘plamini yuklash va yetishmayotgan qiymatlar sonini tahlil qilish
1. df_clean.csv faylidan ma’lumotlar to‘plamini yuklang va dastlabki beshta yozuvni ekranga chiqaring.

In [95]:
# Your code goes here
df.head()

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,title_status,transmission,image_url,description,state,lat,long,posting_date,price_category
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020.0,ram,2500 crew cab big horn,diesel,27442.0,clean,other,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,tn,35.060000,-85.250000,2021-04-17T12:30:50-0400,high
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016.0,ford,explorer 4wd 4dr xlt,NaN,60023.0,clean,automatic,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,nj,40.821805,-74.061962,2021-05-03T15:40:21-0400,medium
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017.0,volkswagen,golf r hatchback,gas,14048.0,clean,other,https://images.craigslist.org/00y0y_eeZjWeiSfb...,Carvana is the safer way to buy a car During t...,ca,33.779214,-84.411811,2021-04-28T03:52:20-0700,high
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013.0,toyota,rav4,gas,117291.0,clean,automatic,https://images.craigslist.org/00606_iGe5iXidib...,2013 Toyota RAV4 XLE 4dr SUV Offered by: R...,nc,35.715954,-78.655304,2021-04-17T10:08:57-0400,medium
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021.0,nissan,altima,gas,8000.0,clean,automatic,https://images.craigslist.org/00V0V_3pSOiPZ3Sd...,2021 Nissan Altima Sv with Only 8 K Miles Titl...,ny,40.654800,-73.609700,2021-05-03T18:32:06-0400,medium

2. Выведите количество полностью заполненных объектов и их процент из всей выборки.

2. Butunlay toʻldirilgan qatorlar sonini va ularning umumiy ma’lumotlar toʻplamidagi foizini hisoblang va ekranga chiqaring.

In [ ]:
# Your code goes here

3. Сохраните в переменную и выведите процент пропущенных значений для каждого признака, отсортируйте признаки по убыванию процента пропущенных значений.

3. Har bir ustun (feature) uchun yetishmayotgan qiymatlar foizini hisoblang, natijani o‘zgaruvchiga saqlang va ekranga chiqaring. Ustunlarni kamayish tartibida (eng ko‘p yetishmayotgan qiymatlar bo‘yicha) saralang.

In [ ]:
# Your code goes here

4. Выведите список всех признаков, в которых имеются пропущенные значения. Воспользуйтесь результатом вывода предыдущего шага, чтобы отсортировать признаки, подходящие под условие.

4. Yetishmayotgan qiymatlar mavjud bo'lgan barcha ustunlarni ro'yxatini chiqaring. Oldingi qadam natijasidan foydalanib, ularni mos keladigan shart bo'yicha saralang.

In [ ]:
# Your code goes here

### Задача 2. Обработка пропусков в дате размещения объявления о продаже
1. Выведите количество значений для даты размещения объявления о продаже, включая пропущенные значения. Обратите внимание на количество пропущенных значений.

Topshiriq 2. E'lon joylashtirish sanasidagi yetishmayotgan qiymatlarni ishlash
1. E'lon joylashtirish sanasi ustunidagi qiymatlar sonini (yetishmayotgan qiymatlar bilan birga) chiqaring. Yetishmayotgan qiymatlar soniga alohida e'tibor bering.

In [ ]:
# Your code goes here

2. Выведите описательные статистики даты размещения объявления о продаже. Обратите внимание, что на месте самой популярной даты может стоять любое из значений, которое встречается два раза.

2. E'lon joylashtirish sanasi ustuni bo'yicha asosiy statistik ma'lumotlarni chiqaring. Diqqat qiling: eng ko'p takrorlangan sana sifatida har qanday 2 marta uchragan qiymat ko'rsatilishi mumkin.

In [ ]:
# Your code goes here

3. Выведите записи, в которых дата размещения объявления о продаже не заполнена. Посмотрите на данные и подумайте, какую стратегию обработки значений можно применить.

3. E'lon joylashtirish sanasi kiritilmagan (yetishmayotgan) barcha yozuvlarni ekranga chiqaring. Ma'lumotlarni tahlil qilib, qanday ishlov berish strategiyasini qo'llash mumkinligini aniqlang.

In [ ]:
# Your code goes here

4. Обработайте пропуски, удалив записи, в которых дата размещения объявления о продаже не заполнена, и сохраните обновлённый датафрейм.

4. E'lon joylashtirish sanasi yo'q bo'lgan barcha qatorlarni o'chiring va tozalangan ma'lumotlar to'plamini saqlang.

In [ ]:
# Your code goes here

5. Выведите для обновлённого датафрейма количество пропущенных значений в дате размещения объявления о продаже.

5. Tozalangan ma'lumotlar to'plamida e'lon joylashtirish sanasi ustunida qolgan yetishmayotgan qiymatlar sonini ko'rsating.

In [ ]:
# Your code goes here

### Задача 3. Обработка пропусков в коробке передач
1. Выведите количество значений для коробки передач, включая пропущенные значения. Обратите внимание на количество пропущенных значений.

Topshiriq 3. Uzatmalar qutisidagi yetishmayotgan qiymatlarni ishlash
1. Uzatmalar qutisi ustunidagi qiymatlar sonini (yetishmayotgan qiymatlar bilan birga) chiqaring. Yetishmayotgan qiymatlar soniga alohida e'tibor bering.

In [ ]:
# Your code goes here

2. Выведите описательные статистики коробки передач.

2. Uzatmalar qutisi ustuni bo'yicha asosiy statistik ma'lumotlarni chiqaring.

In [ ]:
# Your code goes here

3. Выведите записи, в которых коробка передач не заполнена. Посмотрите на данные и подумайте, какую стратегию обработки значений можно применить.

3. Uzatmalar qutisi kiritilmagan (yetishmayotgan) barcha yozuvlarni chiqaring va ularni ishlov berish strategiyasini tanlang.

In [ ]:
# Your code goes here

4. Обработайте пропуски, заполнив незаполненные значения коробки передач значением `other`, и сохраните изменения. Обратите внимание, что мы заполняем пропуски не самым популярным значением в выборке.

4. Uzatmalar qutisi bo'sh bo'lgan qiymatlarni "other" deb belgilang va o'zgarishlarni saqlang.

In [ ]:
# Your code goes here

5. Выведите для обновлённого датафрейма количество пропущенных значений для коробки передач.

5. "other" bilan to'ldirilgan yangi ma'lumotlar to'plamida uzatmalar qutisi ustunida qolgan yetishmayotgan qiymatlar sonini ko'rsating.

In [ ]:
# Your code goes here
print('Количество пропущенных значений в transmission:, ...)  # Допишите код

SyntaxError: unterminated string literal (detected at line 2) (3534827349.py, line 2)

### Задача 4. Обработка пропусков в широте и долготе
1. Выведите количество значений для широты, включая пропущенные значения. Обратите внимание на количество пропущенных значений.

1. Kenglik (latitude) ustunidagi qiymatlar sonini (yetishmayotgan qiymatlar bilan birga) chiqaring. Yetishmayotgan qiymatlar soniga alohida e'tibor bering.

In [ ]:
# Your code goes here

2. Выведите описательные статистики широты в выборке.

2. Kenglik ustuni boʻyicha asosiy statistik koʻrsatkichlarni chiqaring:

In [ ]:
# Your code goes here

3. Выведите записи, в которых широта не заполнена. Посмотрите внимательно на данные и обратите внимание, что если не заполнена широта, то не заполнена и долгота.

3. Kenglik qiymati kiritilmagan barcha yozuvlarni chiqaring. Diqqat qiling: agar kenglik kiritilmagan bo'lsa, uzunlik (longitude) ham kiritilmagan bo'ladi.

In [ ]:
# Your code goes here

4. Необходимо убедиться, что долгота не заполнена только тогда, когда не заполнена широта. Выведите количество значений для долготы, включая пропущенные значения.

4. Uzunlik ustunidagi qiymatlarni tekshiring va faqat kenglik kiritilmagan hollarda uzunlik ham kiritilmaganligiga ishonch hosil qiling.

In [ ]:
# Your code goes here

5. Выведите количество значений, в которых не заполнена или широта, или долгота.

5. Kenglik (latitude) yoki uzunlik (longitude) kiritilmagan barcha yozuvlarning umumiy sonini chiqaring:

In [ ]:
# Your code goes here

6. Обработайте пропуски, удалив записи, в которых широта или долгота не заполнены, и сохраните обновлённый датафрейм, а также выведите первые пять записей.

*Подсказка*: обратите внимание на оператор ~ (тильда). Это операция not, которая часто применяется для инвертирования логических значений. Советуем заглянуть в [документацию](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html), чтобы получить представление о его работе на примерах использования.

6. Kenglik yoki uzunlik kiritilmagan barcha yozuvlarni o'chiring va yangilangan ma'lumotlar to'plamini saqlang:

In [ ]:
# Your code goes here

7. Ещё раз выведите количество полностью заполненных объектов и их процент из всей выборки. Оставшиеся пропуски вы заполните позднее.

7. To'liq to'ldirilgan qatorlar sonini va foizini chiqaring (qolgan yetishmayotgan qiymatlarni keyinroq to'ldiramiz):

In [ ]:
# Your code goes here

8. Сохраните получившийся датафрейм в файл `df_clean_upd.csv` для дальнейшего использования, индекс не сохраняйте.

8. Yakuniy tozalangan ma'lumotlar to'plamini df_clean_upd.csv fayliga saqlang (indekssiz):

In [ ]:
# Your code goes here