**Dictionary**

Key : Value

In [18]:
person = {
    "name" : "Ibrat",
    "age" : 12,
    "loves_football" : True,
    "chess master" : True
}

In [4]:
type(person)

dict

In [5]:
person['name']

'Ibrat'

In [6]:
person['loves_football']

True

In [7]:
person['Ibrat']

KeyError: 'Ibrat'

In [19]:
person['is_married'] = False

In [9]:
person

{'name': 'Ibrat',
 'age': 12,
 'loves_football': True,
 'chess master': True,
 'is_married': False}

In [10]:
person.keys()

dict_keys(['name', 'age', 'loves_football', 'chess master', 'is_married'])

In [11]:
person.values()

dict_values(['Ibrat', 12, True, True, False])

In [12]:
person.items()

dict_items([('name', 'Ibrat'), ('age', 12), ('loves_football', True), ('chess master', True), ('is_married', False)])

In [20]:
person1 = person.copy()
person1

{'name': 'Ibrat',
 'age': 12,
 'loves_football': True,
 'chess master': True,
 'is_married': False}

In [21]:
person1['name'] = "Diyor"

In [22]:
person1

{'name': 'Diyor',
 'age': 12,
 'loves_football': True,
 'chess master': True,
 'is_married': False}

In [26]:
person

{'name': 'Ibrat',
 'age': 12,
 'loves_football': True,
 'chess master': True,
 'is_married': False}

In [ ]:
person.

In [2]:
ages = [1, 2, 3, 4, 5]
ages[4]

5

In [24]:
x = person.get("name")

In [25]:
print(x)

Ibrat

In [27]:
person.pop("is_married")

False

In [28]:
person

{'name': 'Ibrat', 'age': 12, 'loves_football': True, 'chess master': True}

In [30]:
person.get("Name")

**Sets**

In [33]:
ages = {3, 2, 3, 4, 5, 3, 3, 4, 2, "Ibrat"}
type(ages)

set

In [34]:
ages

{2, 3, 4, 5, 'Ibrat'}

In [36]:
text = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
set(text.split())

{'1500s,',
 '1960s',
 'Aldus',
 'Ipsum',
 'Ipsum.',
 'It',
 'Letraset',
 'Lorem',
 'PageMaker',
 'a',
 'also',
 'an',
 'and',
 'been',
 'book.',
 'but',
 'centuries,',
 'containing',
 'desktop',
 'dummy',
 'electronic',
 'essentially',
 'ever',
 'five',
 'galley',
 'has',
 'in',
 'including',
 "industry's",
 'industry.',
 'into',
 'is',
 'it',
 'leap',
 'like',
 'make',
 'more',
 'not',
 'of',
 'only',
 'passages,',
 'popularised',
 'printer',
 'printing',
 'publishing',
 'recently',
 'release',
 'remaining',
 'scrambled',
 'sheets',
 'simply',
 'since',
 'software',
 'specimen',
 'standard',
 'survived',
 'text',
 'the',
 'to',
 'took',
 'type',
 'typesetting',
 'typesetting,',
 'unchanged.',
 'unknown',
 'versions',
 'was',
 'when',
 'with'}

In [37]:
ages[3]

TypeError: 'set' object is not subscriptable

In [ ]:
True  ---> 1
False ---> 0

In [68]:
my_set = {1, 0, 4, 6, True, False, "School"}
my_set

{0, 1, 4, 6, 'School'}

Note: Set items are unchangeable, but you can remove items and add new items.

In [39]:
my_set.clear()

In [40]:
my_set

set()

In [42]:
my_set.add(True)
my_set

{0, 1, 4, 6, 'School'}

In [72]:
my_set.pop()
my_set

{6}

In [61]:
my_set.remove("School")
my_set

{1, 4, 6}

In [73]:
set2 = {"Library" , "Hospital"}

In [74]:
my_set.update(set2)
my_set

{6, 'Hospital', 'Library'}

**Tuples**

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

A tuple is a collection which is ordered and unchangeable.

In [76]:
scores = (4, 3, 5, 2, 1, 2, 3, 5)
type(scores)

tuple

In [80]:
scores[3:6:2]

(2, 2)

In [81]:
scores.count(5)

2

In [82]:
scores

(4, 3, 5, 2, 1, 2, 3, 5)

In [83]:
scores.index(1)

4

In [85]:
scores + tuple(5)

TypeError: 'int' object is not iterable

**Type conversion**

In [86]:
my_set

{6, 'Hospital', 'Library'}

In [87]:
tuple(my_set)

('Library', 6, 'Hospital')

In [88]:
int("5")

5

In [ ]:
set()
tuple()
dict()
list()

In [94]:
ages

{2, 3, 4, 5, 'Ibrat'}

In [93]:
dict(ages)

ValueError: dictionary update sequence element #0 has length 5; 2 is required

In [96]:
dict.fromkeys(ages, ages)

{'Ibrat': {2, 3, 4, 5, 'Ibrat'},
 2: {2, 3, 4, 5, 'Ibrat'},
 3: {2, 3, 4, 5, 'Ibrat'},
 4: {2, 3, 4, 5, 'Ibrat'},
 5: {2, 3, 4, 5, 'Ibrat'}}